* {
    margin: 0px;
    padding: 0px;
}

.primary-color {
    color: #2196F3;
}

.bg-primary {
    background-color: #2196F3;
}

/* top header style */
.topheader {
    display: flex;
    justify-content: space-between;
    margin: 4px 100px;
}

.language {
    display: flex;
    gap: 15px;
}

/* middle header style */
.search-btn {
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

.search {
    display: flex;
    align-items: center;
}

.texfield {
    padding: 12px 6px;
    width: 350px;
}

.Categories {
    background-color: #F8F8F8;
    padding: 12px 6px;
    border-radius: 4px;
}

.topheaderspace {
    padding: 40px 0px;
}