* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.item {
  width: 31%;
  height: 300px;
  margin: 10px;
  background-color: aqua;
}

.paraghraph {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
  }

  .item {
    width: 46%;
    margin: 10px;
  }

  img {
    display: none;
  }

  .paraghraph {
    font-size: 20px;
  }
}


@media screen and (max-width: 500px) {
  .container {
    display: block;
  }

  .item {
    width: 100%;
  }

  img {
    display: none;
  }

  .paraghraph {
    font-size: 20px;
  }
}